/* app css stylesheet */
body {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.post-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.post-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

post-content img {
    max-width: 100%;
}

.post-list {
    list-style: none;
}

.post-list > li {
    border-bottom: 1px solid gray;
}

.post-link {
    text-decoration: none;
    color: black;
}

#postForm label {
    margin: 10px 0 5px 0;
    display: inline-block;
}

#postForm input, #postForm textarea {
    font-family: Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: 1px inset;
    padding: 5px;
    font-size: 16px;
}

#postForm textarea {
    resize: none;
    height: 200px;
}

#postForm input[type="submit"] {
    height: 40px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

#postForm input[disabled] {
    cursor: default;
}

