/* app css stylesheet */
@mixin base-input {
  font-family: Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  border: 1px inset;
  padding: 5px;
  font-size: 16px;
}

@mixin clearfix {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

body {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.menu {
  @include clearfix;
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  > li {
    float: left;
    margin-right: 10px;
    a {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 20px;
      color: gray;
      text-decoration: none;
      &:hover {
        color: darken(gray, 20%);
      }
    }
  }
}

.post-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.post-content img {
  max-width: 100%;
}

.post-list {
  list-style: none;
  > li {
    border-bottom: 1px solid gray;
  }
}

.post-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

#postForm {
  label {
    margin: 10px 0 5px 0;
    display: inline-block;
  }
  input {
    @include base-input;
  }
  textarea {
    @include base-input;
    resize: none;
    height: 200px;
  }
  input {
    &[type="submit"] {
      height: 40px;
      border: none;
      margin-top: 20px;
      cursor: pointer;
    }
    &[disabled] {
      cursor: default;
    }
  }
}