<div class="post-container">

    <ul class="menu">
        <li><a href="#/list">All Posts</a></li>
        <li><a href="" ng-click="save()">Save Post</a></li>
    </ul>

    <form id="postForm" name="postForm" ng-submit="save()">
        <h2>Edit Post:</h2>

        <div>
            <label for="post-title">Title:</label>
            <input id="post-title" name="post-title" type="text" required ng-model="post.title"/>
        </div>

        <div>
            <label for="post-content">Content:
                <a href="http://www.wikicreole.org/attach/CheatSheet/creole_cheat_sheet.html" target="_blank">
                    Creole Syntax</a>
            </label>
            <textarea id="post-content" name="post-content" required ng-model="post.content"></textarea>
        </div>

        <div>
            <label for="post-author">Author:</label>
            <input id="post-author" name="post-author" type="email" required ng-model="post.author"/>
        </div>

        <input type="submit" id="submit" ng-disabled="postForm.$pristine && postForm.$valid" value="Submit"/>
    </form>

</div>