<ul class="post-list post-container">

    <ul class="menu">
        <li><a href="#/edit">Add Post</a></li>
    </ul>

    <li ng-repeat="post in posts track by post.id" class="thumbnail">
        <a class="post-link" ng-href="#/read/{{post.id}}"><h1>{{post.title}}</h1></a>
        <sup>{{post.timestamp | postDate}}</sup>

        <ul class="menu">
            <li><a ng-href="#/edit/{{post.id}}">Edit</a></li>
        </ul>

        <p>
            <post-content class="post-content"></post-content>
        </p>
        <div><sup>{{post.author}}</sup></div>
    </li>
</ul>
